#corpo{
    
    width: 1000px;
   
    margin: 0 auto;
}
#cab{
    background-color:DodgerBlue;
    width: 100%;
    height: 150px;
    float: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#logo{
    height: 110px;
    width: 200px;
    float: left;
}
#titulo{
    margin-top: 10px;
    margin-right: 250px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: LightBlue;
    height: 20px;
   float: right;
}
#menu{
    width: 900px;
    height: 40px;
    float: right;
    margin-right: 40px;
}
#menu a{
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(201, 188, 195);
}
#menu a:hover{
    color: #A020F0
}
#modoVisualiza{
    border-radius: 15px;
    float: right;
    background-color: aliceblue;
    color: #A020F0;
}
#modoVisualiza:hover{
    background-color: black;
}
form h2{
    text-align: center;
    color: #A020F0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    width: 400px;
    margin: 350px;
    margin-top: 30px;
    float: right;
    background-color: PowderBlue;
   border-radius: 15px;
   height: 300px;
    
}

input{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-left: 47px;
}
input:hover{
    color: #A020F0;
    font-size: 17px;
}
form button{
    margin-left: 160px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    margin-top: 35px;
}
form button:hover{
    color: white;
    background-color:#A020F0;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 150px;
    margin-top: 10px;
}
a:hover{
    color: #A020F0;
}
#rod{
    width: 100%;
    height: 150px;
    background-color:DodgerBlue;
    float: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}