
#mangas{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.Titulos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    margin-left: 20px;
}
.mng{
    width: 290px;
    height: 160px;
    background-color: Honeydew;
    margin-right: 32px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;

}
.metade{
    width: 145px;
    height: 100%;
    float: right;
    border-radius: 10px;

}
.metade2{
    width: 145px;
    height: 100%;
    float: right;
    border-radius: 10px;

}
.metade img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.metade2 h5{
    margin-left: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.metade2 span{
    margin-left:33px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}
.metade2 a{
    margin-left: 58px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-top: 25px;
    text-decoration: none;
    color:rgb(177, 105, 177); 
    font-weight: bolder;
}
.metade2 a:hover{
    color:purple ;
}
#Noticias{
    width: 100%;
   
    float: right;
    margin-top: 20px;
    border-radius: 20px;
}
.ConjuntoNoticias{
    border-top: black solid;
    border-bottom: black solid;
    width: 100%;
    height: min-content 300px;
    float: right;
    border-radius: 20px;
    margin-top: 10px;
}
.imagemNoticia{
    width: 400px;
    height: 260px;
    float: left;
    padding: 20px;
    border-radius: 20px;
}
.textoNoticia{
    width: 520px;
    height: min-content 260px;
    float: right;
    padding: 20px;
    border-radius: 20px;
    
}
.textoNoticia h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagemNoticia img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#aumenta{
    float: right;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url(../img/imgsButtons/adicionar-botao-circular-com-contorno.png);
    background-size:contain;
    
    width: 30px;
    height: 30px;
}
#aumenta:hover{
    background-color: green;
}
#diminui{
    float: right;
    margin-top: 10px;
    border-radius: 50%;
    background-image: url(../img/imgsButtons/botao-circular-negativo.png);
    background-size:contain;
    width: 30px;
    height: 30px;
}
#diminui:hover{
    background-color: red;
}

