#corpo{
    
    width: 1000px;
   
    margin: 0 auto;
}
#cab{
    background-color:DodgerBlue;
    width: 100%;
    height: 150px;
    float: right;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
#logo{
    height: 110px;
    width: 200px;
    float: left;
}
#titulo{
    float: right;
    margin-right: 250px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: LightBlue;
    height: 20px;
}
#menu{
    width: 900px;
    height: 40px;
    float: right;
    margin-right: 40px;
}
#menu a{
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: rgb(201, 188, 195);
}
#menu a:hover{
    color: #A020F0
}
#modoVisualiza{
    border-radius: 15px;
    float: right;
    background-color: aliceblue;
    color: #A020F0;
}
#modoVisualiza:hover{
    background-color: black;
}
#conteudo{
    width: 100%;
    
    background-color: PowderBlue;
    float: right;
}
#mangas{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.Titulos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    margin-left: 20px;
}
.mng{
    width: 290px;
    height: 160px;
    background-color: Honeydew;
    margin-right: 32px;
    margin-top: 20px;
    float: right;
    border-radius: 10px;

}
.metade{
    width: 145px;
    height: 100%;
    float: right;
    border-radius: 10px;

}
.metade2{
    width: 145px;
    height: 100%;
    float: right;
    border-radius: 10px;

}
.metade img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.metade2 h5{
    margin-left: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.metade2 span{
    margin-left:33px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}
.metade2 a{
    margin-left: 58px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-top: 25px;
    text-decoration: none;
    color:rgb(177, 105, 177); 
    font-weight: bolder;
}
.metade2 a:hover{
    color:purple ;
}
#Noticias{
    width: 100%;
   
    float: right;
    margin-top: 20px;
    border-radius: 20px;
}
.ConjuntoNoticias{
    border-top: black solid;
    border-bottom: black solid;
    width: 100%;
    height: 300px;
    float: right;
    border-radius: 20px;
    margin-top: 10px;
}
.imagemNoticia{
    width: 400px;
    height: 260px;
    float: left;
    padding: 20px;
    border-radius: 20px;
}
.textoNoticia{
    width: 520px;
    height: 260px;
    float: right;
    padding: 20px;
    border-radius: 20px;
    
}
.textoNoticia h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imagemNoticia img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
#rod{
    width: 100%;
    height: 150px;
    background-color:DodgerBlue;
    float: right;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

